$color-white: #FFFFFF;
$color-black: rgba(0, 0, 0, 1);
$primary-color: rgba(255, 78, 80, 1);
$heading-color: rgba(68, 68, 68, 1);
$brush-bg: rgba(25, 212, 202, 1);
$camera-bg: rgba(255, 167, 16, 1);
$plane-bg: rgba(102, 125, 243, 1);
$font-montserrat: 'Montserrat', sans-serif;
$font-roboto: 'Roboto', sans-serif;